@model AumentaTest.Ejercicio3.Models.User

@{
    ViewBag.Title = "Usuarios";
}

<h3>Eliminar usuario</h3>
<hr />
<h3>¿Estás seguro que quieres eliminar este usuario?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <i class="glyphicon glyphicon-chevron-left"></i> &nbsp;
            @Html.ActionLink("Regresar al listado", "Index") &nbsp; &nbsp;
            <input type="submit" value="Eliminar" class="btn btn-danger"/>
        </div>
    }
</div>
