@model IEnumerable<AumentaTest.Ejercicio3.Models.Role>

@{
    ViewBag.Title = "Roles";
}
<h3>Listado de roles</h3>
<hr />
<div class="panel panel-default">
    <div class="panel-heading">@Html.ActionLink("Crear nuevo rol", "Create", null, new {@class = "btn btn-primary btn-block"})</div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Enabled)
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Roles", new {id = item.Id})" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </a>
                    <a href="@Url.Action("Details", "Roles", new {id = item.Id})" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </a>
                    <a href="@Url.Action("Delete", "Roles", new {id = item.Id})" class="btn btn-default btn-xs">
                        <span class="glyphicon glyphicon-trash"></span>
                    </a>
                </td>
            </tr>
        }

    </table>
</div>
