@model AumentaTest.Ejercicio3.Models.UserRole

@{
    ViewBag.Title = "Eliminar la asignación de rol";
}

<h3>¿Estás seguro que quieres eliminar este rol para este usuario?</h3>
<hr />
<div>
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.User.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <i class="glyphicon glyphicon-chevron-left"></i> &nbsp;
            @Html.ActionLink("Regresar", "Edit", "Users", new {id = Model.User.Id}, null) &nbsp; &nbsp;
            <input type="submit" value="Delete" class="btn btn-danger" />
        </div>
    }
</div>
