@model AumentaTest.Ejercicio3.Models.RolePermission

@{
    ViewBag.Title = "Eliminar la asignación de permiso";
}

<h3>¿Estás seguro que quieres eliminar este permiso para este rol?</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Role.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Permission.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Permission.Name)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <i class="glyphicon glyphicon-chevron-left"></i> &nbsp;
        @Html.ActionLink("Regresar", "Edit", "Roles", new { id = Model.Role.Id }, null) &nbsp; &nbsp;
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </div>
    }
</div>
